PORT=4000
ALLOWED_ORIGIN=http://localhost:5173
GITHUB_ORG=DesarrolloExcelec
PRODUCT_DOCS_REPO=product-docs
GITHUB_APP_ID=3338613
GITHUB_APP_INSTALLATION_ID=122950071
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAth8EaXxNZ+BREQgipDMOPOhDxJojsNIbspguFSE5JKtwDWRg
bde1bZgPVyGerHDb6CE5gKnUGrcuXO8sCoJWvyBymfXYiz/tefTP92PuztjB84mV
9eO5NKnYQWD8+ultkOe/sJ2VXrsJb9BsuWIqwM52DqQH76omkupODS2A76ezFelQ
2Fmc1yMxwJxw3aJ8mqSwi4v1Z5q6bKty/Uzls7WN68KQvD7S9HifwhGS9v8TTeqI
CMsyU3Fl+4eCRaxkUAIbPFqWw1MzzAds2Z537P7CNle9gPp5cbs5nUJqGBuEb5YA
cGHQ4CKW/sr1oiUBEiJrm9XNpCgM2HscwXAH1wIDAQABAoIBAHiHjJb3Yg8mQOCB
vtNmyrx6hycdUBOc6iHHX3AyfawMHetvC/aGNRdj9HsYz/eV9aPqITFKtAo+Q1vU
GhSWcCyrn8zPDNITq+nzoJM8uvaAM9QmsW17mb4Fzg5uzt6MECw/g/iyQgHgzP0I
Nnx2QI871JwZ6PqvZDoFAUTtYZC5ELvoU3nnMig2HMU+CHdD/QP17YLFPZpvGMq+
DJCitgCI1rEWNau2KJpq61YeMaBzsc3qXdBNJmUCVMYkVEVUW80CF9/AhfeQA5Hn
tb7J2MIjGdrrrB1q7mRk4rCKXohcPpOn+wQ55hz0SY0Zyjvo5mgXA1pdaOMtjZso
V5pYVeECgYEA4yFYIsmxs9DEVvyGjELQO6P9Dhg4WnkXeSEfY0MwKbj2uCm5McYH
E1GMKHd4EZSjBHZbh0mHMR1YOij+eluSl/4j4PLYXLCUO95a3ePV5ipyCwBiTYWP
m53VYaulKfZiStfzLfuh8BTacDYzxCQ/uVfKm59MWB1i43xYY+Wg2JECgYEAzUUc
AWGn5GanKeJRderZByafgRw42REnr4PxxhYD4cO1IVrb+NK475/hhMioWGOV24qo
G2FWOhW4UN5HvMM7AO4+dBJL3M4DkGicdwd+JOj378u/9OInxrxtvkWxKJPJXjv8
5hwFWhlKP+5Q5qcLrDblhJUeUbnAZM85hKYZTecCgYEAqwY8m1VMXZ3hea6EkbDt
ozsEHUzXgiiUKD1sqQ26gnAoNtwT+wql4UISS5ZJ7tMBPSbyHJidF7qE6KZdmDzD
0XcoBQZXLNQ5iisQOOyJ79oeLXKIkt7zF7ZtKjJZF5PSx5B8KC/F7EWHhd8Kc7Ln
2OPmR/BXSDI4eBr1Y6NQzkECgYBtKsH4Ih2OJOHmLoywL5P4b5wIqB+7oZn/iCZ+
+Jpb6R9de9rc/ASKu/bODYEqcNv0BEvfM+cNwRtjNrPkOdgZaJsiU9Cwv4e5t0jv
LLbznkqt5yhRbi1FTlT3Ck1rjR1c1n5rSp+2CRkp4u53nINitVdfKYcUY7tkYajv
WP7AJQKBgQCqUfN+RoAX5sizKmXBUMchRnB8gRlXygPj+Lv2SmzLX0tMyKEmw9Xj
WT2RLBBhWX5EBW5lYi2aqZgmAh5+yucIDIT6AZQJsenmMeaIjyKnT4F4/nrS+3lQ
4N6M/DM28E3i9yrWq+SFng2huaY0n65nFUJb+esc836AoKm75C/gbA==
-----END RSA PRIVATE KEY-----"

